@use '@/assets/styles/variables' as *;

.menuContainer {
  padding-top: 37px;
  position: absolute;
  left: 0;
  width: 260px;
  background-color: $white-color;
  text-align: center;
}

.menuWrapper {
  padding-right: 37px;
  padding-left: 42px;
  padding-bottom: 73px;
  text-align: start;
}

.logo {
  margin-bottom: 63px;
}

.title {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-transform: uppercase;
  color: $dark-grey-color;
}

.menuList {
  &:not(:last-child) {
    margin-bottom: 29px;
  }
}

.menuItem {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    left: 0;
    top: 2px;
    background-color: $grey-blue-color;
  }
}

.menuLink {
  position: relative;
  display: block;
  color: #4d4d56;
  margin-left: 40px;
  z-index: 1;
}

.menuList:nth-of-type(1) .menuItem:nth-of-type(1) {
  &::before {
    mask: url('/icons/home.svg') no-repeat;
  }
}


.menuList:nth-of-type(1) .menuItem:nth-of-type(2) {
  &::before {
    mask: url('/icons/explorer.svg') no-repeat;
  }
}

.menuList:nth-of-type(1) .menuItem:nth-of-type(3) {
  &::before {
    mask: url('/icons/search.svg') no-repeat;
  }
}

.menuList:nth-of-type(2) .menuItem:nth-of-type(1) {
  &::before {
    mask: url('/icons/music.svg') no-repeat;
  }
}

.menuList:nth-of-type(2) .menuItem:nth-of-type(2) {
  &::before {
    mask: url('/icons/albums.svg') no-repeat;
  }
}

.menuList:nth-of-type(2) .menuItem:nth-of-type(3) {
  &::before {
    mask: url('/icons/artists.svg') no-repeat;
  }
}


.menuList:nth-of-type(3) .menuItem:nth-of-type(1) {
  &::before {
    mask: url('/icons/cover.svg') no-repeat;
  }
}

.menuList:nth-of-type(3) .menuItem:nth-of-type(2) {
  &::before {
    mask: url('/icons/favorites.svg') no-repeat;
  }
}

.menuList:nth-of-type(3) .menuItem:nth-of-type(3) {
  &::before {
    mask: url('/icons/shared.svg') no-repeat;
  }
}

.menuList:nth-of-type(3) .menuItem:nth-of-type(4) {
  &::before {
    mask: url('/icons/downloads.svg') no-repeat;
  }
}

.menuList:nth-of-type(4) .menuItem:nth-of-type(1) {
  &::before {
    mask: url('/icons/settings.svg') no-repeat;
  }
}

.menuList:nth-of-type(4) .menuItem:nth-of-type(2) {
  &::before {
    mask: url('/icons/logout.svg') no-repeat;
  }
}

.menuList .menuItem {
  &:hover:before {
    background-color: blue;
  }
}

.menuLink:global(.active) {
  color: $primary-color;
  font-weight: 600;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -80px;
    width: 260px;
    height: 46px;
    background-color: #f0f0f5;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 46px;
    right: -38px;
    top: -12px;
    background-color: $primary-color;
  }
}