$primary-color: #4343EF;
$white-color: #FFFFFF; 
$black-color: #000000;
$dark-grey-color: #24242E;
$light-blue-color: #68CDE4; 
$grey-blue-color: #787887;
$grey-light-color: #F9F9Fb;
$grey-vector-color: #B3B3BC;
$grey-darker-color: #F0F0F5;
$light-green-color: #81E468;
$light-purple-color: #8C75E6; 
$medium-grey-color: #999999;
$lilac-color: #C275E6;
$light-yellow-green-color: #C8E25F;
$light-orange-color: #E2A65F;
$light-red-color: #E67575;
$light-pink-color: #E67588;


$font-family: "Montserrat", sans-serif;

$desktop-width: 1440px;